@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.hide {
  display: none;
}

h1 {
  text-align: center;
}

.fab {
  color: red;
}

#modify {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  .dlt, .edit {
    margin: 5px;
  }
}

.boardCard {
  margin: 20px;
  height: 200px;
}

#pins {
  margin: 20px;
  .card {
    width: 300px;
    height: 650px;
  }
  .col-sm {
    display: flex;
  }
}
